global
    log 127.0.0.1 local0 notice
    user haproxy
    group haproxy

defaults
    log global
    retries 2
    timeout connect 3000
    timeout server 5000
    timeout client 5000

listen stats
    bind *:8404
    mode http
    option http-use-htx
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 10s

listen pgsql-iotdb
        bind *:5432
        mode tcp
        option pgsql-check user haproxy_check
        server pgsql-iotdb 192.168.100.4:5432 check

listen pgsql-spacedb
        bind *:5433
        mode tcp
        option pgsql-check user haproxy_check
        server pgsql-spacedb 192.168.100.6:5432 check

listen ftp-server
    bind *:20-21
    mode tcp
    server ftp-server 192.168.100.4

listen ftp-server-data
    bind *:21100-21110
    mode tcp
    server ftp-server-data 192.168.100.4